*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* start header  */
.head{
    margin-top: 20px;
}
.icons{
    margin-top: 10px;
}

.name{
  margin-right: 15px;
  
}
.input-search{
    margin-right: 10px;
}
.header{
    padding:0px 10px ;
}
.header  input{
    outline: none;
    border-color:transparent;
    padding:8px;
    margin-left: 4px;
    transition: all 0.3s ease;
    width:100px ;
}

.header input:focus{
    transform: translate(-7px);
    padding-left: -8px;

}
.icons .third{
    display: inline-block;
    position: relative;
}
.icons .third .nu-2{
    position: absolute;
    top:-20px;
    right:-15px;
    text-align: center;
    font-size: 15px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color:#7971ea;
    color:white;
}

.third{
    position: relative;
    display: inline-block;
}

.icons .third:hover .nu-2{
    transform:translate(0px,-5px);
    transition: all 0.3s ease;
 }

 .icons .third:not(:hover) .nu-2{
    transition: all 0.3s ease;
 }



.circle{
    position:absolute;
    width:20px;
    height: 20px;
    background-color: #7971ea;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    top:-18px;
    right:85px;
}
.header  i{
    color:gray;
}
.truck1{
    transform: scaleX(-1);
}

.icons i{
    margin-left: 5px;
}
.icons i:hover{
    color:#7971ea;
    cursor: pointer;
}

.name p{
    border:2px solid gray;
    padding:8px;
    width: 160px;
   /* margin-right: 20px;*/
    text-align: center;
   
}
.name p:hover{
    cursor: pointer;
}

/*Open Nav*/

.side{
    width: 100%;
    position: fixed;
    top:0;
    left:0;
    height: 0;
    transition: .5s;
    background-color: #f8f9fa!important;
    overflow-y: hidden;
    z-index: 4;
    margin-bottom: 20px;
    
}
.nav_pages {
    list-style: none;
}
 .nav-bor a{
    border-bottom: 1px solid lightgrey;

}
.side .nav_pages a {
    
    margin-top: 10px;
   color: #7971ea;
    text-decoration: none;
    padding: 5px 5px 5px 25px;
    display: block;
    transition: .3s;
    font-size: 20px;
    

}
.side a:hover{
    color: blueviolet;
    
}
.close{
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    top:5px;
    right: 10px;
    margin-left: 50px;
    
 
  
    
}
.open_nav{
    
    
    /*
    top:20px;
    left: 20px;*/
    font-size: x-large;
    color: grey;
    border: 2px solid #7971ea;
    padding: 3px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: .5s;
    
}

.close:hover {
    color: #7971ea;
    transform: scale(1.1,1.1);
}
.row_open{
    margin-top: 20px;
    margin-bottom: 10px;
}
.mode{
    position: absolute;
    width: 45px;
    height: 20px;
   left: 40px;
   bottom:0;
   border: 2px  solid gray;
   border-radius: 20px;
   background-color: #fff;
}
.mode::before{
    position: absolute;
    content: "";
    width: 15px;
    height: 14px;
    left: 1px;
    top:1px;
    border-radius: 50%;
    cursor: pointer;
    background-color: grey;
    transition: .6s;
}

label.active:before{
    left: 23px;
    background: #7971ea;
   
}
body.night{
    background-color: black;
    color: #fff;
}
/*Close Nav*/


.change{
    color:gray;
}

a:hover{
    color:#7971ea;
}

.top-bold-gry-line{
    display: flex;
    align-items: center;
    background-color:  rgb(233, 236, 239);

    height: 60px;
    padding-left: 120px;
    font-weight: 500;
}
.span-home{
    color:#7971ea
}

.home{
    color:#7971ea;
}







/* new section  */

.kort-line{
    border-bottom: 3px solid #7971ea;
    width:40px;
    
}
.about{
  margin-top: 100px;
}
.img-about{
    width:100%;

    
}
.writing{
    width: 100%;
   
}
.right-section-div{
    width: 100%;
    margin-left: 50px;
}

.right-section-div h1{
    margin-top:10px;
}
.right-section-div p{
color: gray;
}

.line{
   margin:100px 0 100px 0;
}






/* new section  */
.top-div{
    padding:10px;
border:1px solid lightgray;
border-radius: 3px;
}

.top-div p{
    color:gray;
}

.top-div p a{
    color:#7971ea;
    text-decoration: none;
}


.left{
    border:1px solid lightgray;
    
    padding:0 20px;
    padding-top: 10px ;
}



.top{
    margin-top:30px;
}

.bold{
    font-size: 23px;
    font-weight: 500;
}
sup{
    color:red;
}

select:first-child{
    color:lightgray;
}

.in-in{
    width:100%;
    height: 40px;
    border-radius: 3px;
    border:1px solid lightgray;
    outline: none;
    padding:10px;
}
.notes
{
    width: 100%;
}
.above
{
    border:1px solid lightgray;
    padding: 40px;
}


.btn-footer{
    background-color:#7971ea;
    padding:7px 20px;
    color:white;
    text-transform: uppercase;
    letter-spacing: 4px;
    border-color:transparent;
    border-radius: 3px;
    font-size: 12px;
}

.con .input-email{
    width:100%;
    outline:none;
    padding:10px;
    border:1px solid transparent;
}
.conl{
    border:1px solid lightgray;
    display: flex;
    border-radius: 3px;
  
    width: 77%;

}

.line-line{
    width:90%;
    border-bottom:1px solid lightgray;
    margin:8px auto;
    
}

.boldi{
    
    margin-left: 80px;
   
}
.boldii
{margin-right: 80px;
    margin-bottom: 0px;

}
.total{
    margin-right: 100px;
    margin-bottom: 0px;
}

.b{
    font-weight: bold;
    font-size: 15px;
}


.purpal1{
    color:#7971ea;
    margin-bottom: 0;
}

.payment{
    border:1px solid lightgray;
    width:80%;
 
    margin:auto;
    margin-top:15px;
    border-radius: 2px;
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.r{
    margin-bottom: 40px;
}
.btn-btn{
    display: block;
    width:80%;
    background-color: #7971ea;
    color: white;
    padding:7px 10px ;
    text-align: center;
    margin:auto;
    margin-top:50px;
    border-radius: 3px;
    border-color:transparent;
    letter-spacing:2px;
}
.btn-btn:hover{
    background-color:blueviolet;
    transform: translateY(-3px);
    box-shadow: 0 0 5px black;
}
.border-buttom{
    border:1px solid lightgray;
}


label{
    font-size: 15px;
    font-weight: 500;
}

select{
    width:100%;
    height: 40px;
    border-radius: 3px;
    padding: 8px;
}

.border-butoom{
    border:1px solid lightgray;
    padding:20px;
}
textarea{
    width: 100%;
    height: 130px;
    margin-bottom: 50px;
    outline:none;
    border:1px solid lightgray;
    padding:10px;
}
.for-margin{
    margin-top: 25px;
    font-size: 17px;
    font-weight:normal;
}

.bold{
    margin-top: 40px;
}





.link ul{
    list-style: none;
}
.link ul li a{
    text-decoration: none;
    color:gray;
    margin-left:40px;
}
h6{
    margin-left: 25px;
}

.purple{
    color:#7971ea;
    margin-top:15px;
    margin-bottom: 0;
}

.navigation{
    margin-left:25px;
}

.p-f{
    color:gray;
    font-size:14px;
    margin-top:0;
}

.img-img{
    border-radius:3px;
    object-fit: cover;
}





.footer-line{
    margin:100px 0;
}

/* footer  */

.contact i{
    color:#7971ea;
}

.con{
    border:1px solid lightgray;
    display: flex;
    border-radius: 3px;
    padding:2px 0;
    padding-right:2px;
    padding-left:5px;

}
.con .input-email{
    width:100%;
    outline:none;

    border:1px solid transparent;
    
}
.contact{
    margin-bottom:40px;
}
.btn-footer{
    background-color:#7971ea;
    padding:5px 20px;
    color:white;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-color:transparent;
    border-radius: 3px;
    
}
.btn-footer:hover{
    background-color:blueviolet;
    transform: translateY(-3px);
    box-shadow: 0 0 5px black;
}
.title{
    font-size:20px;
    font-weight: 500;
}
.title-sub{
    font-size: 20px;
    font-weight: normal;
}

.link .link-link ul li a:hover{
    color:#7971ea
}

.link .link-link ul li{
    margin-top:20px;
}

@media screen and (max-width:991px) {
    .navigation{
        margin-left:0;
    }
     .link-link ul li .a{
        margin-left:14px;
    } 
}
.maker{
    color:#7971ea;
}
.copyright{
    color:grey;
    text-align: center;
}